.d-flex {
	display: flex;
}

.d-flex--align-items-center {
	align-items: center;
}

.d-flex--align-items-start {
	align-items: start;
}

.d-flex--column {
	flex-direction: column;
}

.d-flex--growing {
	flex-grow: 1;
}

.align-self-flex-end {
	align-self: flex-end;
}
