button, input, optgroup, select, textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button, input {
	overflow: visible;
}

button, select {
	text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: .35em .75em .625em;
}

legend {
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"], [type="radio"] {
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
	display: none;
}

[type="file"]::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
	@include fb-color("primary");
	border: 1px solid $color-primary-light;
	border-radius: .5rem;
	font-size: 1em;
	line-height: 1.2;
	outline: none;
	padding: 1rem 1.5rem;
	text-decoration: none;

	&:hover {
		@include fb-color("secondary");
		cursor: pointer;
	}
}

button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled {
	background: #CCC;
	color: #363636;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	-webkit-backface-visibility: hidden;
	-webkit-appearance: none;
	@include fb-color("surface");
	@include rounded-border;
	outline: none;
	padding: .7rem 1rem;
	outline-offset: 0;

	&:focus {
		border-color: $color-primary-light;
	}

	&:disabled {
		border-color: #CCC;
	}
}

label input {
	vertical-align: middle;
}

button.link {
	background: transparent;
	border: 0;
	padding-left: 0;
	padding-right: 0;
	color: $color-primary;
}