*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100vh;
}

html {
	font-size: 10px;
	line-height: 1.5;
}

body {
	font-family: $font-family-sans-serif;
	font-size: $font-size-base;
	font-weight: $font-weight-base;
	line-height: $line-height-base;
	background: $color-background;
	color: $color-on-surface;
	display: flex;
	flex-direction: column;
}

h1, h2, h3, p {
	margin: 0;
	padding: 0;
}

h1, h2, h3 {
	margin-bottom: $headings-margin-bottom;
	font-family: if($headings-font-family, $headings-font-family, $font-family-sans-serif);
	font-weight: $headings-font-weight;
	line-height: $headings-line-height;
	color: if($headings-color, $headings-color, $color-on-surface);
}

h1 { font-size: #{$h1-font-size-factor * $font-size-base}; }
h2 { font-size: #{$h2-font-size-factor * $font-size-base}; }
h3 { font-size: #{$h3-font-size-factor * $font-size-base}; }

p {
	margin-bottom: 1em;
}

#app {
	flex-grow: 1;
	position: relative;
	z-index: 0;
	padding: $block-padding;
}

#app > section {
	height: 100%;
}

noscript {
	display: block;
}
