$spacer: 2rem;

// Fonts
$font-family-sans-serif:  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif !default;
$font-family-emoji:       "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols, "EmojiOne Mozilla" !default;
$font-family-monospace:   SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-size-base:          1.375rem !default;
$font-size-l:             1.125rem !default;

$font-weight-base:        400 !default;
$line-height-base:        1.5 !default;

$h1-font-size-factor:     2.50 !default;
$h2-font-size-factor:     2.00 !default;
$h3-font-size-factor:     1.75 !default;
$h4-font-size-factor:     1.50 !default;
$h5-font-size-factor:     1.25 !default;
$h6-font-size-factor:     1.00 !default;

$headings-margin-bottom:  $spacer / 2 !default;
$headings-font-family:    null !default;
$headings-font-weight:    700 !default;
$headings-line-height:    1.2 !default;
$headings-color:          null !default;

$color-primary:              #0056B3 !default;
$color-primary-light:        #7599EA !default;
$color-primary-dark:         #002984 !default;

$color-on-primary:           #FFFFFF !default;
$color-on-primary-light:     #000000 !default;
$color-on-primary-dark:      #FFFFFF !default;

$color-secondary:            #FFD500 !default;
$color-secondary-light:      #FFFF52 !default;
$color-secondary-dark:       #C7A400 !default;

$color-on-secondary:         #000000 !default;
$color-on-secondary-light:   #000000 !default;
$color-on-secondary-dark:    #000000 !default;

$color-highlight-on-primary:         $color-secondary !default; /* breaks WCAG AAA for normal text */
$color-highlight-on-primary-light:   #000076 !default;
$color-highlight-on-primary-dark:    $color-secondary !default;

$color-highlight-on-secondary:       $color-primary-dark !default;
$color-highlight-on-secondary-light: $color-primary-dark !default;
$color-highlight-on-secondary-dark:  darken($color-primary-dark, 11%) !default; /* #00184D */

$color-surface:                      #FFFFFF !default;
$color-on-surface:                   #000000 !default;
$color-highlight-on-surface:         $color-primary-dark !default;

$color-surface-alt:                  darken($color-surface, 2%) !default;
$color-on-surface-alt:               #000000 !default;
$color-highlight-on-surface-alt:     darken($color-primary-dark, 2%) !default;    /* #0051a9 */

$color-error:                        #A80000 !default;
$color-on-error:                     $color-secondary-light !default;
$color-highlight-on-error:           #FFFFFF !default;

$color-background:                   darken($color-surface, 8%) !default;         /* #EBEBEB */
$color-header-background:            darken($color-primary-dark, 10%) !default;   /* #001951 */

// Menu
$color-menu-background:            darken($color-header-background, 2%);
$color-menu-link:                  $color-secondary;
$color-menu-link-hover-background: $color-secondary;
$color-menu-link-hover:            $color-on-secondary;
$color-menu-active-background:     $color-secondary-dark;
$color-menu-active:                $color-on-secondary-dark;

$theme: (
	"primary":         $color-primary,
	"primary-light":   $color-primary-light,
	"primary-dark":    $color-primary-dark,
	"secondary":       $color-secondary,
	"secondary-light": $color-secondary-light,
	"secondary-dark":  $color-secondary-dark,
	"surface":         $color-surface,
	"surface-alt":     $color-surface-alt,
	"error":           $color-error,
);

$theme-on: (
	"primary":         $color-on-primary,
	"primary-light":   $color-on-primary-light,
	"primary-dark":    $color-on-primary-dark,
	"secondary":       $color-on-secondary,
	"secondary-light": $color-on-secondary-light,
	"secondary-dark":  $color-on-secondary-dark,
	"surface":         $color-on-surface,
	"surface-alt":     $color-on-surface-alt,
	"error":           $color-on-error,
);

$theme-hl: (
	"primary":         $color-highlight-on-primary,
	"primary-light":   $color-highlight-on-primary-light,
	"primary-dark":    $color-highlight-on-primary-dark,
	"secondary":       $color-highlight-on-secondary,
	"secondary-light": $color-highlight-on-secondary-light,
	"secondary-dark":  $color-highlight-on-secondary-dark,
	"surface":         $color-highlight-on-surface,
	"surface-alt":     $color-highlight-on-surface-alt,
	"error":           $color-highlight-on-error,
);

$viewport-xs:  568px  !default;
$viewport-s:   768px  !default;
$viewport-m:   992px  !default;
$viewport-l:   1200px !default;

$viewport-upto-xs: $viewport-xs - 1;
$viewport-upto-s:  $viewport-s  - 1;
$viewport-upto-m:  $viewport-m  - 1;
$viewport-upto-l:  $viewport-l  - 1;

$block-margin: 1.5rem !default;
$block-padding: 1.5rem !default;
$block-inner-padding: .9rem !default;
