@use "../../scss/vars";

.Modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    background: rgba(0, 0, 0, .5);

    .inner {
        left: 50%;
        top: 50%;
        position: fixed;
        transform: translate(-50%, -50%);

        > *:only-child {
            max-width: 80vw;
            width: 60ch;
        }
    }
}
