@use "../../scss/vars";
@use "../../scss/mixins";

.site-header {
    padding: 2 * vars.$block-inner-padding vars.$block-inner-padding;
    background: vars.$color-header-background url(../../assets/myrotvorets.svg#u) no-repeat 50% / contain;
    text-align: center;

    h1 {
        font-size: 1.5rem;
        line-height: inherit;
    }

    h2 {
        font-size: 1rem;
        line-height: inherit;
    }

    h1, h2 {
        color: vars.$color-highlight-on-primary;
        text-shadow: 0 1px 1px #000;
        margin: 0;
        padding: 0;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    @media (max-width: 767px) {
        h1 {
            z-index: 500;
            position: absolute;
            left: vars.$block-inner-padding;
            font-size: vars.$font-size-base;
            line-height: 1;
            top: (3rem - vars.$font-size-base) * 0.5;
        }

        h2 { display: none; }

        & {
            padding: 0;
            height: 0;
        }
    }
}
