name: Build Backend

on:
  push:
    branches:
      - "**"
    paths:
      - "functions/**"
      - ".github/workflows/build-backend.yml"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-backend:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out the source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node.js environment
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: functions/package.json
          cache: npm
          cache-dependency-path: functions/package-lock.json

      - name: Install dependencies
        run: npm ci --ignore-scripts
        working-directory: functions
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run postinstall scripts
        run: npm rebuild && npm run prepare --if-present
        working-directory: functions

      - name: Build
        run: npm run build
        working-directory: functions
