name: Build Backend

on:
  push:
    branches:
      - "**"
    paths:
      - "functions/**"
      - ".github/workflows/build-backend.yml"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-backend:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out the source code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Setup Node.js environment
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version-file: functions/package.json
          cache: npm
          cache-dependency-path: functions/package-lock.json

      - name: Install dependencies
        run: npm ci --ignore-scripts
        working-directory: functions
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run postinstall scripts
        run: npm rebuild && npm run prepare --if-present
        working-directory: functions

      - name: Build
        run: npm run build
        working-directory: functions
