name: Build Frontend

on:
  push:
    branches:
      - "**"
    paths:
      - "frontend/**"
      - ".github/workflows/build-frontend.yml"
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build-frontend:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Check out the source code
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Retrieve tags
        run: git fetch --unshallow --tags

      - name: Setup Node.js environment
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: lts/*
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      - name: Install dependencies
        run: npm ci --ignore-scripts
        working-directory: frontend
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Run postinstall scripts
        run: npm rebuild && npm run prepare --if-present
        working-directory: frontend

      - name: Build
        run: npm run build
        working-directory: frontend
